body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, 
h3,
.sign-up-heading {
    color: #F9FAF8;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937
}

h3,
.sign-up-heading {
    font-weight: bold;
    font-size: 24px;
}

a, 
.sign-up-button,
.secondary-text,
.sign-up-text {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.sign-up-button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    width: fit-content;
}

.section-top, 
.section-footer {
    background-color: #1F2937;
}

.section-top {
    color: #F9FAF8;
    display: flex;
    flex-flow: column nowrap;
    gap: 100px;
    padding: 20px 250px;
}

.container-top-content {
    display: flex;
    margin-bottom: 125px;
    justify-content: space-between;
    gap: 75px;
}

.top-content {
    gap: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.top-content-img {
    width: 690px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 15px;
}

.section-information {
    margin-bottom: 75px;
    padding: 75px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container-information {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 60px;
}

.container-img-txt {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
}

.img-border {
    border: 6px solid #3882F6;
    border-radius: 10px;
    height: 10vw;
    width: 10vw;
}

.img-border img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.container-img-txt .secondary-text {
    color: #1f2937ad;
    width: 10vw;
    text-align: center;
}

.section-quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 120px 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-quote .quote-closing {
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
}

.section-sign-up {
    display: flex;
    justify-content: center;
    padding: 85px 250px;
}

.container-sign-up {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 75px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 185px;
}

.container-sign-up .sign-up-button {
    border: 2px solid #F9FAF8;
    flex: 0 1 content;
}